auth.{$GATEWAY_ROOT_DOMAIN} {
    reverse_proxy orion-auth-api:{$AUTH_API_PORT}
}

query.{$GATEWAY_ROOT_DOMAIN} {
    reverse_proxy orion-graphql-api:{$GRAPHQL_API_PORT}
}

archive.{$GATEWAY_ROOT_DOMAIN} {
    reverse_proxy orion-graphql-api:{$GATEWAY_PORT}
}

# # Optional: uncomment to serve atlas statically on the server
# {$GATEWAY_ROOT_DOMAIN} {
#     root * /srv/atlas
#     file_server
# }