/node_modules
/lib

/**Versions.json
/**Versions.jsonl

# IDE files
/.idea
src/model/generated
src/model/generated/index.ts
src/model/generated/.DS_STORE
/schema.graphql
/db/persisted
/scripts/orion-v1-migration/data
/db/export.json*
.DS_STORE

# network tests
network-tests/graphql/generated
network-tests/node_modules
network-tests/lib
network-tests/data
